.dxHtmlEditor_heConstrainProportionsBottom_Moderno1,
.dxHtmlEditor_heConstrainProportionsBottomRtl_Moderno1,
.dxHtmlEditor_heConstrainProportionsMiddleOff_Moderno1,
.dxHtmlEditor_heConstrainProportionsMiddleOffRtl_Moderno1,
.dxHtmlEditor_heConstrainProportionsMiddleOn_Moderno1,
.dxHtmlEditor_heConstrainProportionsMiddleOnRtl_Moderno1,
.dxHtmlEditor_heConstrainProportionsTop_Moderno1,
.dxHtmlEditor_heConstrainProportionsTopRtl_Moderno1,
.dxHtmlEditor_heErrorFrameCloseButton_Moderno1,
.dxHtmlEditor_heSizeGrip_Moderno1,
.dxHtmlEditor_heSizeGripRtl_Moderno1,
.dxHtmlEditor_heToolbarPopOut_Moderno1,
.dxHtmlEditor_heToolbarPopOutDisabled_Moderno1,
.dxHtmlEditor_Icons_heBackColor_Moderno1,
.dxHtmlEditor_Icons_heBackColorDisabled_Moderno1,
.dxHtmlEditor_Icons_heBold_Moderno1,
.dxHtmlEditor_Icons_heBoldDisabled_Moderno1,
.dxHtmlEditor_Icons_heCenter_Moderno1,
.dxHtmlEditor_Icons_heCenterDisabled_Moderno1,
.dxHtmlEditor_Icons_heChangeTableCellDialog_Moderno1,
.dxHtmlEditor_Icons_heChangeTableCellDialogDisabled_Moderno1,
.dxHtmlEditor_Icons_heChangeTableColumnDialog_Moderno1,
.dxHtmlEditor_Icons_heChangeTableColumnDialogDisabled_Moderno1,
.dxHtmlEditor_Icons_heChangeTableDialog_Moderno1,
.dxHtmlEditor_Icons_heChangeTableDialogDisabled_Moderno1,
.dxHtmlEditor_Icons_heChangeTableRowDialog_Moderno1,
.dxHtmlEditor_Icons_heChangeTableRowDialogDisabled_Moderno1,
.dxHtmlEditor_Icons_heCheckSpelling_Moderno1,
.dxHtmlEditor_Icons_heCheckSpellingDisabled_Moderno1,
.dxHtmlEditor_Icons_heCopy_Moderno1,
.dxHtmlEditor_Icons_heCopyDisabled_Moderno1,
.dxHtmlEditor_Icons_heCut_Moderno1,
.dxHtmlEditor_Icons_heCutDisabled_Moderno1,
.dxHtmlEditor_Icons_heDeleteTable_Moderno1,
.dxHtmlEditor_Icons_heDeleteTableColumn_Moderno1,
.dxHtmlEditor_Icons_heDeleteTableColumnDisabled_Moderno1,
.dxHtmlEditor_Icons_heDeleteTableDisabled_Moderno1,
.dxHtmlEditor_Icons_heDeleteTableRow_Moderno1,
.dxHtmlEditor_Icons_heDeleteTableRowDisabled_Moderno1,
.dxHtmlEditor_Icons_heForeColor_Moderno1,
.dxHtmlEditor_Icons_heForeColorDisabled_Moderno1,
.dxHtmlEditor_Icons_heFullscreen_Moderno1,
.dxHtmlEditor_Icons_heFullscreenDisabled_Moderno1,
.dxHtmlEditor_Icons_heIndent_Moderno1,
.dxHtmlEditor_Icons_heIndentDisabled_Moderno1,
.dxHtmlEditor_Icons_heInsertAudioDialog_Moderno1,
.dxHtmlEditor_Icons_heInsertAudioDialogDisabled_Moderno1,
.dxHtmlEditor_Icons_heInsertFlashDialog_Moderno1,
.dxHtmlEditor_Icons_heInsertFlashDialogDisabled_Moderno1,
.dxHtmlEditor_Icons_heInsertImageDialog_Moderno1,
.dxHtmlEditor_Icons_heInsertImageDialogDisabled_Moderno1,
.dxHtmlEditor_Icons_heInsertLinkDialog_Moderno1,
.dxHtmlEditor_Icons_heInsertLinkDialogDisabled_Moderno1,
.dxHtmlEditor_Icons_heInsertOrderedList_Moderno1,
.dxHtmlEditor_Icons_heInsertOrderedListDisabled_Moderno1,
.dxHtmlEditor_Icons_heInsertTableColumnOnLeft_Moderno1,
.dxHtmlEditor_Icons_heInsertTableColumnOnLeftDisabled_Moderno1,
.dxHtmlEditor_Icons_heInsertTableColumnOnRight_Moderno1,
.dxHtmlEditor_Icons_heInsertTableColumnOnRightDisabled_Moderno1,
.dxHtmlEditor_Icons_heInsertTableDialog_Moderno1,
.dxHtmlEditor_Icons_heInsertTableDialogDisabled_Moderno1,
.dxHtmlEditor_Icons_heInsertTableRowAbove_Moderno1,
.dxHtmlEditor_Icons_heInsertTableRowAboveDisabled_Moderno1,
.dxHtmlEditor_Icons_heInsertTableRowBelow_Moderno1,
.dxHtmlEditor_Icons_heInsertTableRowBelowDisabled_Moderno1,
.dxHtmlEditor_Icons_heInsertUnorderedList_Moderno1,
.dxHtmlEditor_Icons_heInsertUnorderedListDisabled_Moderno1,
.dxHtmlEditor_Icons_heInsertVideoDialog_Moderno1,
.dxHtmlEditor_Icons_heInsertVideoDialogDisabled_Moderno1,
.dxHtmlEditor_Icons_heInsertYouTubeDialog_Moderno1,
.dxHtmlEditor_Icons_heInsertYouTubeDialogDisabled_Moderno1,
.dxHtmlEditor_Icons_heItalic_Moderno1,
.dxHtmlEditor_Icons_heItalicDisabled_Moderno1,
.dxHtmlEditor_Icons_heJustifyFull_Moderno1,
.dxHtmlEditor_Icons_heJustifyFullDisabled_Moderno1,
.dxHtmlEditor_Icons_heLeft_Moderno1,
.dxHtmlEditor_Icons_heLeftDisabled_Moderno1,
.dxHtmlEditor_Icons_heMergeTableCellHorizontal_Moderno1,
.dxHtmlEditor_Icons_heMergeTableCellHorizontalDisabled_Moderno1,
.dxHtmlEditor_Icons_heMergeTableCellVertical_Moderno1,
.dxHtmlEditor_Icons_heMergeTableCellVerticalDisabled_Moderno1,
.dxHtmlEditor_Icons_heOutdent_Moderno1,
.dxHtmlEditor_Icons_heOutdentDisabled_Moderno1,
.dxHtmlEditor_Icons_hePaste_Moderno1,
.dxHtmlEditor_Icons_hePasteDisabled_Moderno1,
.dxHtmlEditor_Icons_hePasteFromWord_Moderno1,
.dxHtmlEditor_Icons_hePasteFromWordDisabled_Moderno1,
.dxHtmlEditor_Icons_hePasteHtmlMergeFormatting_Moderno1,
.dxHtmlEditor_Icons_hePasteHtmlMergeFormattingDisabled_Moderno1,
.dxHtmlEditor_Icons_hePasteHtmlPlainText_Moderno1,
.dxHtmlEditor_Icons_hePasteHtmlPlainTextDisabled_Moderno1,
.dxHtmlEditor_Icons_hePasteHtmlSourceFormatting_Moderno1,
.dxHtmlEditor_Icons_hePasteHtmlSourceFormattingDisabled_Moderno1,
.dxHtmlEditor_Icons_hePrint_Moderno1,
.dxHtmlEditor_Icons_hePrintDisabled_Moderno1,
.dxHtmlEditor_Icons_heRedo_Moderno1,
.dxHtmlEditor_Icons_heRedoDisabled_Moderno1,
.dxHtmlEditor_Icons_heRemoveFormat_Moderno1,
.dxHtmlEditor_Icons_heRemoveFormatDisabled_Moderno1,
.dxHtmlEditor_Icons_heRight_Moderno1,
.dxHtmlEditor_Icons_heRightDisabled_Moderno1,
.dxHtmlEditor_Icons_heSaveAsDocx_Moderno1,
.dxHtmlEditor_Icons_heSaveAsDocxDisabled_Moderno1,
.dxHtmlEditor_Icons_heSaveAsMht_Moderno1,
.dxHtmlEditor_Icons_heSaveAsMhtDisabled_Moderno1,
.dxHtmlEditor_Icons_heSaveAsOdt_Moderno1,
.dxHtmlEditor_Icons_heSaveAsOdtDisabled_Moderno1,
.dxHtmlEditor_Icons_heSaveAsPdf_Moderno1,
.dxHtmlEditor_Icons_heSaveAsPdfDisabled_Moderno1,
.dxHtmlEditor_Icons_heSaveAsRtf_Moderno1,
.dxHtmlEditor_Icons_heSaveAsRtfDisabled_Moderno1,
.dxHtmlEditor_Icons_heSaveAsTxt_Moderno1,
.dxHtmlEditor_Icons_heSaveAsTxtDisabled_Moderno1,
.dxHtmlEditor_Icons_heSplitTableCellHorizontal_Moderno1,
.dxHtmlEditor_Icons_heSplitTableCellHorizontalDisabled_Moderno1,
.dxHtmlEditor_Icons_heSplitTableCellVertical_Moderno1,
.dxHtmlEditor_Icons_heSplitTableCellVerticalDisabled_Moderno1,
.dxHtmlEditor_Icons_heStrikethrough_Moderno1,
.dxHtmlEditor_Icons_heStrikethroughDisabled_Moderno1,
.dxHtmlEditor_Icons_heSubscript_Moderno1,
.dxHtmlEditor_Icons_heSubscriptDisabled_Moderno1,
.dxHtmlEditor_Icons_heSuperscript_Moderno1,
.dxHtmlEditor_Icons_heSuperscriptDisabled_Moderno1,
.dxHtmlEditor_Icons_heUnderline_Moderno1,
.dxHtmlEditor_Icons_heUnderlineDisabled_Moderno1,
.dxHtmlEditor_Icons_heUndo_Moderno1,
.dxHtmlEditor_Icons_heUndoDisabled_Moderno1,
.dxHtmlEditor_Icons_heUnlink_Moderno1,
.dxHtmlEditor_Icons_heUnlinkDisabled_Moderno1,
.dxm-hovered .dxHtmlEditor_heToolbarPopOut_Moderno1,
.dxm-hovered .dxHtmlEditor_Icons_heBackColor_Moderno1,
.dxm-hovered .dxHtmlEditor_Icons_heBold_Moderno1,
.dxm-hovered .dxHtmlEditor_Icons_heCenter_Moderno1,
.dxm-hovered .dxHtmlEditor_Icons_heChangeTableCellDialog_Moderno1,
.dxm-hovered .dxHtmlEditor_Icons_heChangeTableColumnDialog_Moderno1,
.dxm-hovered .dxHtmlEditor_Icons_heChangeTableDialog_Moderno1,
.dxm-hovered .dxHtmlEditor_Icons_heChangeTableRowDialog_Moderno1,
.dxm-hovered .dxHtmlEditor_Icons_heCheckSpelling_Moderno1,
.dxm-hovered .dxHtmlEditor_Icons_heCopy_Moderno1,
.dxm-hovered .dxHtmlEditor_Icons_heCut_Moderno1,
.dxm-hovered .dxHtmlEditor_Icons_heDeleteTable_Moderno1,
.dxm-hovered .dxHtmlEditor_Icons_heDeleteTableColumn_Moderno1,
.dxm-hovered .dxHtmlEditor_Icons_heDeleteTableRow_Moderno1,
.dxm-hovered .dxHtmlEditor_Icons_heForeColor_Moderno1,
.dxm-hovered .dxHtmlEditor_Icons_heFullscreen_Moderno1,
.dxm-hovered .dxHtmlEditor_Icons_heIndent_Moderno1,
.dxm-hovered .dxHtmlEditor_Icons_heInsertAudioDialog_Moderno1,
.dxm-hovered .dxHtmlEditor_Icons_heInsertFlashDialog_Moderno1,
.dxm-hovered .dxHtmlEditor_Icons_heInsertImageDialog_Moderno1,
.dxm-hovered .dxHtmlEditor_Icons_heInsertLinkDialog_Moderno1,
.dxm-hovered .dxHtmlEditor_Icons_heInsertOrderedList_Moderno1,
.dxm-hovered .dxHtmlEditor_Icons_heInsertTableColumnOnLeft_Moderno1,
.dxm-hovered .dxHtmlEditor_Icons_heInsertTableColumnOnRight_Moderno1,
.dxm-hovered .dxHtmlEditor_Icons_heInsertTableDialog_Moderno1,
.dxm-hovered .dxHtmlEditor_Icons_heInsertTableRowAbove_Moderno1,
.dxm-hovered .dxHtmlEditor_Icons_heInsertTableRowBelow_Moderno1,
.dxm-hovered .dxHtmlEditor_Icons_heInsertUnorderedList_Moderno1,
.dxm-hovered .dxHtmlEditor_Icons_heInsertVideoDialog_Moderno1,
.dxm-hovered .dxHtmlEditor_Icons_heInsertYouTubeDialog_Moderno1,
.dxm-hovered .dxHtmlEditor_Icons_heItalic_Moderno1,
.dxm-hovered .dxHtmlEditor_Icons_heJustifyFull_Moderno1,
.dxm-hovered .dxHtmlEditor_Icons_heLeft_Moderno1,
.dxm-hovered .dxHtmlEditor_Icons_heMergeTableCellHorizontal_Moderno1,
.dxm-hovered .dxHtmlEditor_Icons_heMergeTableCellVertical_Moderno1,
.dxm-hovered .dxHtmlEditor_Icons_heOutdent_Moderno1,
.dxm-hovered .dxHtmlEditor_Icons_hePaste_Moderno1,
.dxm-hovered .dxHtmlEditor_Icons_hePasteFromWord_Moderno1,
.dxm-hovered .dxHtmlEditor_Icons_hePasteHtmlMergeFormatting_Moderno1,
.dxm-hovered .dxHtmlEditor_Icons_hePasteHtmlPlainText_Moderno1,
.dxm-hovered .dxHtmlEditor_Icons_hePasteHtmlSourceFormatting_Moderno1,
.dxm-hovered .dxHtmlEditor_Icons_hePrint_Moderno1,
.dxm-hovered .dxHtmlEditor_Icons_heRedo_Moderno1,
.dxm-hovered .dxHtmlEditor_Icons_heRemoveFormat_Moderno1,
.dxm-hovered .dxHtmlEditor_Icons_heRight_Moderno1,
.dxm-hovered .dxHtmlEditor_Icons_heSaveAsDocx_Moderno1,
.dxm-hovered .dxHtmlEditor_Icons_heSaveAsMht_Moderno1,
.dxm-hovered .dxHtmlEditor_Icons_heSaveAsOdt_Moderno1,
.dxm-hovered .dxHtmlEditor_Icons_heSaveAsPdf_Moderno1,
.dxm-hovered .dxHtmlEditor_Icons_heSaveAsRtf_Moderno1,
.dxm-hovered .dxHtmlEditor_Icons_heSaveAsTxt_Moderno1,
.dxm-hovered .dxHtmlEditor_Icons_heSplitTableCellHorizontal_Moderno1,
.dxm-hovered .dxHtmlEditor_Icons_heSplitTableCellVertical_Moderno1,
.dxm-hovered .dxHtmlEditor_Icons_heStrikethrough_Moderno1,
.dxm-hovered .dxHtmlEditor_Icons_heSubscript_Moderno1,
.dxm-hovered .dxHtmlEditor_Icons_heSuperscript_Moderno1,
.dxm-hovered .dxHtmlEditor_Icons_heUnderline_Moderno1,
.dxm-hovered .dxHtmlEditor_Icons_heUndo_Moderno1,
.dxm-hovered .dxHtmlEditor_Icons_heUnlink_Moderno1
{
    background-image: url('sprite.png');
    background-repeat: no-repeat;
    background-color: transparent;
}
.dxHtmlEditor_heConstrainProportionsBottom_Moderno1
{
    background-position: -124px -12px;
    width: 11px;
    height: 6px;
}
.dxHtmlEditor_heConstrainProportionsBottomRtl_Moderno1
{
    background-position: -68px -376px;
    width: 11px;
    height: 6px;
}
.dxHtmlEditor_heConstrainProportionsMiddleOff_Moderno1
{
    background-position: -62px 0px;
    width: 11px;
    height: 18px;
}
.dxHtmlEditor_heConstrainProportionsMiddleOffRtl_Moderno1
{
    background-position: -50px 0px;
    width: 11px;
    height: 18px;
}
.dxHtmlEditor_heConstrainProportionsMiddleOn_Moderno1
{
    background-position: -38px 0px;
    width: 11px;
    height: 18px;
}
.dxHtmlEditor_heConstrainProportionsMiddleOnRtl_Moderno1
{
    background-position: -74px 0px;
    width: 11px;
    height: 18px;
}
.dxHtmlEditor_heConstrainProportionsTop_Moderno1
{
    background-position: -80px -376px;
    width: 11px;
    height: 5px;
}
.dxHtmlEditor_heConstrainProportionsTopRtl_Moderno1
{
    background-position: -92px -376px;
    width: 11px;
    height: 5px;
}
.dxHtmlEditor_heErrorFrameCloseButton_Moderno1
{
    background-position: -120px 0px;
    width: 13px;
    height: 9px;
}
.dxHtmlEditor_heSizeGrip_Moderno1
{
    background-position: -19px 0px;
    width: 18px;
    height: 18px;
}
.dxHtmlEditor_heSizeGripRtl_Moderno1
{
    background-position: 0px 0px;
    width: 18px;
    height: 18px;
}
.dxHtmlEditor_heToolbarPopOut_Moderno1
{
    background-position: -113px -376px;
    width: 8px;
    height: 4px;
}
.dxHtmlEditor_heToolbarPopOutDisabled_Moderno1
{
    background-position: -122px -376px;
    width: 8px;
    height: 4px;
}
.dxHtmlEditor_Icons_heBackColor_Moderno1
{
    background-position: -17px -104px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heBackColorDisabled_Moderno1
{
    background-position: -34px -172px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heBold_Moderno1
{
    background-position: -85px -206px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heBoldDisabled_Moderno1
{
    background-position: -51px -36px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heCenter_Moderno1
{
    background-position: -119px -240px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heCenterDisabled_Moderno1
{
    background-position: -17px -138px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heChangeTableCellDialog_Moderno1
{
    background-position: -85px -325px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heChangeTableCellDialogDisabled_Moderno1
{
    background-position: -51px -19px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heChangeTableColumnDialog_Moderno1
{
    background-position: -34px -342px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heChangeTableColumnDialogDisabled_Moderno1
{
    background-position: -85px -274px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heChangeTableDialog_Moderno1
{
    background-position: -102px -19px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heChangeTableDialogDisabled_Moderno1
{
    background-position: -119px -36px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heChangeTableRowDialog_Moderno1
{
    background-position: -119px -172px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heChangeTableRowDialogDisabled_Moderno1
{
    background-position: -17px -274px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heCheckSpelling_Moderno1
{
    background-position: -119px -223px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heCheckSpellingDisabled_Moderno1
{
    background-position: 0px -155px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heCopy_Moderno1
{
    background-position: -85px -138px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heCopyDisabled_Moderno1
{
    background-position: -68px -87px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heCut_Moderno1
{
    background-position: 0px -359px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heCutDisabled_Moderno1
{
    background-position: -85px -87px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heDeleteTable_Moderno1
{
    background-position: -68px -274px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heDeleteTableColumn_Moderno1
{
    background-position: -17px -121px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heDeleteTableColumnDisabled_Moderno1
{
    background-position: -34px -274px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heDeleteTableDisabled_Moderno1
{
    background-position: -17px -19px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heDeleteTableRow_Moderno1
{
    background-position: -51px -53px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heDeleteTableRowDisabled_Moderno1
{
    background-position: -119px -359px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heForeColor_Moderno1
{
    background-position: -68px -172px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heForeColorDisabled_Moderno1
{
    background-position: -51px -257px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heFullscreen_Moderno1
{
    background-position: -119px -104px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heFullscreenDisabled_Moderno1
{
    background-position: -102px -53px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heIndent_Moderno1
{
    background-position: -68px -104px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heIndentDisabled_Moderno1
{
    background-position: -68px -291px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heInsertAudioDialog_Moderno1
{
    background-position: -102px -240px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heInsertAudioDialogDisabled_Moderno1
{
    background-position: -17px -189px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heInsertFlashDialog_Moderno1
{
    background-position: -102px -325px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heInsertFlashDialogDisabled_Moderno1
{
    background-position: 0px -138px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heInsertImageDialog_Moderno1
{
    background-position: -17px -291px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heInsertImageDialogDisabled_Moderno1
{
    background-position: -119px -291px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heInsertLinkDialog_Moderno1
{
    background-position: 0px -274px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heInsertLinkDialogDisabled_Moderno1
{
    background-position: -102px -172px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heInsertOrderedList_Moderno1
{
    background-position: -102px -104px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heInsertOrderedListDisabled_Moderno1
{
    background-position: -17px -240px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heInsertTableColumnOnLeft_Moderno1
{
    background-position: -51px -104px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heInsertTableColumnOnLeftDisabled_Moderno1
{
    background-position: -51px -206px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heInsertTableColumnOnRight_Moderno1
{
    background-position: -119px -53px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heInsertTableColumnOnRightDisabled_Moderno1
{
    background-position: -51px -308px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heInsertTableDialog_Moderno1
{
    background-position: 0px -291px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heInsertTableDialogDisabled_Moderno1
{
    background-position: -119px -19px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heInsertTableRowAbove_Moderno1
{
    background-position: -102px -359px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heInsertTableRowAboveDisabled_Moderno1
{
    background-position: -85px -70px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heInsertTableRowBelow_Moderno1
{
    background-position: -85px -223px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heInsertTableRowBelowDisabled_Moderno1
{
    background-position: -119px -189px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heInsertUnorderedList_Moderno1
{
    background-position: -102px -36px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heInsertUnorderedListDisabled_Moderno1
{
    background-position: -17px -155px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heInsertVideoDialog_Moderno1
{
    background-position: -102px -70px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heInsertVideoDialogDisabled_Moderno1
{
    background-position: 0px -36px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heInsertYouTubeDialog_Moderno1
{
    background-position: -68px -121px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heInsertYouTubeDialogDisabled_Moderno1
{
    background-position: -34px -359px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heItalic_Moderno1
{
    background-position: -68px -70px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heItalicDisabled_Moderno1
{
    background-position: -34px -206px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heJustifyFull_Moderno1
{
    background-position: -119px -308px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heJustifyFullDisabled_Moderno1
{
    background-position: -85px -291px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heLeft_Moderno1
{
    background-position: 0px -342px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heLeftDisabled_Moderno1
{
    background-position: -34px -19px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heMergeTableCellHorizontal_Moderno1
{
    background-position: -85px -19px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heMergeTableCellHorizontalDisabled_Moderno1
{
    background-position: -103px 0px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heMergeTableCellVertical_Moderno1
{
    background-position: 0px -70px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heMergeTableCellVerticalDisabled_Moderno1
{
    background-position: -34px -223px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heOutdent_Moderno1
{
    background-position: -34px -189px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heOutdentDisabled_Moderno1
{
    background-position: -34px -138px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_hePaste_Moderno1
{
    background-position: -34px -308px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_hePasteDisabled_Moderno1
{
    background-position: -68px -19px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_hePasteFromWord_Moderno1
{
    background-position: -51px -223px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_hePasteFromWordDisabled_Moderno1
{
    background-position: -34px -291px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_hePasteHtmlMergeFormatting_Moderno1
{
    background-position: -51px -189px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_hePasteHtmlMergeFormattingDisabled_Moderno1
{
    background-position: 0px -240px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_hePasteHtmlPlainText_Moderno1
{
    background-position: -34px -257px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_hePasteHtmlPlainTextDisabled_Moderno1
{
    background-position: -119px -206px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_hePasteHtmlSourceFormatting_Moderno1
{
    background-position: -68px -257px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_hePasteHtmlSourceFormattingDisabled_Moderno1
{
    background-position: -51px -359px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_hePrint_Moderno1
{
    background-position: -68px -223px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_hePrintDisabled_Moderno1
{
    background-position: -85px -53px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heRedo_Moderno1
{
    background-position: 0px -325px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heRedoDisabled_Moderno1
{
    background-position: -85px -189px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heRemoveFormat_Moderno1
{
    background-position: -34px -121px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heRemoveFormatDisabled_Moderno1
{
    background-position: -102px -223px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heRight_Moderno1
{
    background-position: 0px -172px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heRightDisabled_Moderno1
{
    background-position: 0px -104px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heSaveAsDocx_Moderno1
{
    background-position: -85px -342px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heSaveAsDocxDisabled_Moderno1
{
    background-position: -102px -274px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heSaveAsMht_Moderno1
{
    background-position: -119px -70px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heSaveAsMhtDisabled_Moderno1
{
    background-position: 0px -87px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heSaveAsOdt_Moderno1
{
    background-position: -68px -206px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heSaveAsOdtDisabled_Moderno1
{
    background-position: -34px -376px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heSaveAsPdf_Moderno1
{
    background-position: -51px -87px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heSaveAsPdfDisabled_Moderno1
{
    background-position: -51px -325px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heSaveAsRtf_Moderno1
{
    background-position: -17px -342px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heSaveAsRtfDisabled_Moderno1
{
    background-position: -17px -87px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heSaveAsTxt_Moderno1
{
    background-position: -102px -189px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heSaveAsTxtDisabled_Moderno1
{
    background-position: 0px -121px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heSplitTableCellHorizontal_Moderno1
{
    background-position: -68px -359px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heSplitTableCellHorizontalDisabled_Moderno1
{
    background-position: -85px -172px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heSplitTableCellVertical_Moderno1
{
    background-position: -85px -308px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heSplitTableCellVerticalDisabled_Moderno1
{
    background-position: -34px -240px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heStrikethrough_Moderno1
{
    background-position: -85px -121px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heStrikethroughDisabled_Moderno1
{
    background-position: -51px -70px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heSubscript_Moderno1
{
    background-position: -17px -223px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heSubscriptDisabled_Moderno1
{
    background-position: -34px -104px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heSuperscript_Moderno1
{
    background-position: -68px -240px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heSuperscriptDisabled_Moderno1
{
    background-position: -17px -308px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heUnderline_Moderno1
{
    background-position: -85px -359px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heUnderlineDisabled_Moderno1
{
    background-position: -17px -70px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heUndo_Moderno1
{
    background-position: 0px -53px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heUndoDisabled_Moderno1
{
    background-position: -119px -87px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heUnlink_Moderno1
{
    background-position: -68px -36px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_Icons_heUnlinkDisabled_Moderno1
{
    background-position: -102px -206px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxHtmlEditor_heToolbarPopOut_Moderno1
{
    background-position: -104px -376px;
    width: 8px;
    height: 4px;
}
.dxm-hovered .dxHtmlEditor_Icons_heBackColor_Moderno1
{
    background-position: -102px -257px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxHtmlEditor_Icons_heBold_Moderno1
{
    background-position: -68px -189px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxHtmlEditor_Icons_heCenter_Moderno1
{
    background-position: -51px -291px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxHtmlEditor_Icons_heChangeTableCellDialog_Moderno1
{
    background-position: -17px -172px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxHtmlEditor_Icons_heChangeTableColumnDialog_Moderno1
{
    background-position: -85px -257px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxHtmlEditor_Icons_heChangeTableDialog_Moderno1
{
    background-position: -34px -325px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxHtmlEditor_Icons_heChangeTableRowDialog_Moderno1
{
    background-position: -68px -155px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxHtmlEditor_Icons_heCheckSpelling_Moderno1
{
    background-position: -119px -155px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxHtmlEditor_Icons_heCopy_Moderno1
{
    background-position: -102px -138px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxHtmlEditor_Icons_heCut_Moderno1
{
    background-position: -102px -87px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxHtmlEditor_Icons_heDeleteTable_Moderno1
{
    background-position: 0px -376px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxHtmlEditor_Icons_heDeleteTableColumn_Moderno1
{
    background-position: -68px -138px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxHtmlEditor_Icons_heDeleteTableRow_Moderno1
{
    background-position: -102px -308px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxHtmlEditor_Icons_heForeColor_Moderno1
{
    background-position: -17px -36px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxHtmlEditor_Icons_heFullscreen_Moderno1
{
    background-position: -51px -155px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxHtmlEditor_Icons_heIndent_Moderno1
{
    background-position: -85px -240px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxHtmlEditor_Icons_heInsertAudioDialog_Moderno1
{
    background-position: -51px -121px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxHtmlEditor_Icons_heInsertFlashDialog_Moderno1
{
    background-position: -68px -53px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxHtmlEditor_Icons_heInsertImageDialog_Moderno1
{
    background-position: 0px -308px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxHtmlEditor_Icons_heInsertLinkDialog_Moderno1
{
    background-position: -17px -325px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxHtmlEditor_Icons_heInsertOrderedList_Moderno1
{
    background-position: -51px -172px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxHtmlEditor_Icons_heInsertTableColumnOnLeft_Moderno1
{
    background-position: -86px 0px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxHtmlEditor_Icons_heInsertTableColumnOnRight_Moderno1
{
    background-position: 0px -19px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxHtmlEditor_Icons_heInsertTableDialog_Moderno1
{
    background-position: -119px -257px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxHtmlEditor_Icons_heInsertTableRowAbove_Moderno1
{
    background-position: -68px -325px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxHtmlEditor_Icons_heInsertTableRowBelow_Moderno1
{
    background-position: -119px -121px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxHtmlEditor_Icons_heInsertUnorderedList_Moderno1
{
    background-position: -34px -87px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxHtmlEditor_Icons_heInsertVideoDialog_Moderno1
{
    background-position: -119px -325px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxHtmlEditor_Icons_heInsertYouTubeDialog_Moderno1
{
    background-position: -51px -274px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxHtmlEditor_Icons_heItalic_Moderno1
{
    background-position: -119px -342px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxHtmlEditor_Icons_heJustifyFull_Moderno1
{
    background-position: -51px -376px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxHtmlEditor_Icons_heLeft_Moderno1
{
    background-position: -102px -291px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxHtmlEditor_Icons_heMergeTableCellHorizontal_Moderno1
{
    background-position: -17px -53px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxHtmlEditor_Icons_heMergeTableCellVertical_Moderno1
{
    background-position: -51px -342px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxHtmlEditor_Icons_heOutdent_Moderno1
{
    background-position: -68px -342px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxHtmlEditor_Icons_hePaste_Moderno1
{
    background-position: -34px -53px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxHtmlEditor_Icons_hePasteFromWord_Moderno1
{
    background-position: -17px -359px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxHtmlEditor_Icons_hePasteHtmlMergeFormatting_Moderno1
{
    background-position: -102px -155px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxHtmlEditor_Icons_hePasteHtmlPlainText_Moderno1
{
    background-position: -68px -308px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxHtmlEditor_Icons_hePasteHtmlSourceFormatting_Moderno1
{
    background-position: -85px -155px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxHtmlEditor_Icons_hePrint_Moderno1
{
    background-position: 0px -189px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxHtmlEditor_Icons_heRedo_Moderno1
{
    background-position: 0px -206px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxHtmlEditor_Icons_heRemoveFormat_Moderno1
{
    background-position: -34px -36px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxHtmlEditor_Icons_heRight_Moderno1
{
    background-position: -119px -138px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxHtmlEditor_Icons_heSaveAsDocx_Moderno1
{
    background-position: -85px -36px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxHtmlEditor_Icons_heSaveAsMht_Moderno1
{
    background-position: -102px -342px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxHtmlEditor_Icons_heSaveAsOdt_Moderno1
{
    background-position: -51px -240px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxHtmlEditor_Icons_heSaveAsPdf_Moderno1
{
    background-position: -17px -376px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxHtmlEditor_Icons_heSaveAsRtf_Moderno1
{
    background-position: 0px -223px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxHtmlEditor_Icons_heSaveAsTxt_Moderno1
{
    background-position: -17px -257px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxHtmlEditor_Icons_heSplitTableCellHorizontal_Moderno1
{
    background-position: -34px -155px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxHtmlEditor_Icons_heSplitTableCellVertical_Moderno1
{
    background-position: -34px -70px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxHtmlEditor_Icons_heStrikethrough_Moderno1
{
    background-position: -119px -274px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxHtmlEditor_Icons_heSubscript_Moderno1
{
    background-position: -17px -206px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxHtmlEditor_Icons_heSuperscript_Moderno1
{
    background-position: -102px -121px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxHtmlEditor_Icons_heUnderline_Moderno1
{
    background-position: 0px -257px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxHtmlEditor_Icons_heUndo_Moderno1
{
    background-position: -51px -138px;
    width: 16px;
    height: 16px;
}
.dxm-hovered .dxHtmlEditor_Icons_heUnlink_Moderno1
{
    background-position: -85px -104px;
    width: 16px;
    height: 16px;
}
.dxHtmlEditor_heConstrainProportionsMiddleOn_Moderno1,
.dxHtmlEditor_heConstrainProportionsMiddleOff_Moderno1,
.dxHtmlEditor_heConstrainProportionsBottom_Moderno1,
.dxHtmlEditor_heConstrainProportionsTop_Moderno1,
.dxHtmlEditor_RoundPanel_herpHeaderTopLeftCorner_Moderno1,
.dxHtmlEditor_RoundPanel_herpHeaderTopRightCorner_Moderno1,
.dxHtmlEditor_RoundPanel_herpBottomLeftCorner_Moderno1,
.dxHtmlEditor_RoundPanel_herpBottomRightCorner_Moderno1,
.dxHtmlEditor_RoundPanel_herpTopLeftCorner_Moderno1,
.dxHtmlEditor_RoundPanel_herpTopRightCorner_Moderno1,
.dxHtmlEditor_RoundPanel_herpGroupBoxBottomLeftCorner_Moderno1,
.dxHtmlEditor_RoundPanel_herpGroupBoxBottomRightCorner_Moderno1,
.dxHtmlEditor_RoundPanel_herpGroupBoxTopLeftCorner_Moderno1,
.dxHtmlEditor_RoundPanel_herpGroupBoxTopRightCorner_Moderno1,
.dxHtmlEditor_Icons_heForeColor_Moderno1,
.dxHtmlEditor_Icons_heBackColor_Moderno1
{
	display:block;
}

